@import '../../theme.scss';


.showtime_container{
    width: 100%;
    height: auto;
    background-color: $darkGray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;

    .showtime_head{
        width: 100%;
        height: 100%;

        h2{
            color: $white;
        }
        p{
            margin-top: 20px;
           font-weight: 500;
           font-size: 14px;
           color: $lightGray; 
        }

        .card_container{
            width: 100%;
            height: 100%;
            display:  flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}