@import '../../theme.scss';


.footer_container{
    width: 100%;
    height: 60vh;
    background-color: $footerDark;


        .footer_links{
            
            
            h3{
                color: $white !important;
                font-size: 16px;
            }

            ul{
                margin-bottom: 0;
                padding-left: 0;
                padding-top: 20px;
                li{ 
                    color: $white;
                    line-height: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    list-style: none;

                    a{
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }

        
}

.bottom_footer{

    width: 100%;
    height: 8vh;
    background-color: $darkGray;

    p{
        margin-top: 20px;
        color: $white;

        a{
            color: $mint !important;
            text-decoration: none;
            font-weight: 500;
        }
    }
    
    

}