
// Base Colors

$white : #fcfcfc;
$black : #101318;
$rating : #d1b610;

// Brand Theme

// $primary : #003C43;
// $secondary : #135D66;
// $mint : #77B0AA;
// $lightMint : #7fffd4;


$primary : #5f1a89;
$secondary : #6f3094;
$mint : #8f5eac;
$lightMint : #bfa3cf;

// Neutrals

$footerDark : #050e16;
$darkGray : #181c20;
$darkGray2 : #282c35;
$moderateGray : #3e4450;
$moderateGray2 : #575e6b;
$lightGray : #666b74;
$lightGray2 : #a9afbd;
$offwhite : #ceffed;